/* Spinner.module.css */
.spinnerContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  width: 80vw;
  /* Responsive spinner width */
  height: 80vw;
  /* Responsive spinner height */
  max-width: 300px;
  /* Max size for larger screens */
  max-height: 300px;
  /* Max size for larger screens */
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.tile {
  position: absolute;
  width: 25vw;
  /* Responsive tile width */
  height: 25vw;
  /* Responsive tile height */
  max-width: 100px;
  /* Max size for larger screens */
  max-height: 100px;
  /* Max size for larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d289ff;
  border: 1px solid #fff;
  border-radius: 50%;
  transform-origin: 50% 100px;
  /* Adjust the origin */
}

.tile:nth-child(1) {
  transform: rotate(0deg) translate(100px);
}

.tile:nth-child(2) {
  transform: rotate(45deg) translate(100px);
}

.tile:nth-child(3) {
  transform: rotate(90deg) translate(100px);
}

.tile:nth-child(4) {
  transform: rotate(135deg) translate(100px);
}

.tile:nth-child(5) {
  transform: rotate(180deg) translate(100px);
}

.tile:nth-child(6) {
  transform: rotate(225deg) translate(100px);
}

.tile:nth-child(7) {
  transform: rotate(270deg) translate(100px);
}

.tile:nth-child(8) {
  transform: rotate(315deg) translate(100px);
}

.selected {
  background-color: #4caf50;
  color: #fff;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.spinning {
  animation: spinAnimation 3s linear infinite;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#spinner-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}